$site-background: #feeadc;

body {
    background: $site-background !important;

    &.tweak-overlay-parallax-enabled.has-parallax-images:not(.tweak-site-width-option-constrained-width) {
        background: $site-background !important;
    }

    #feature, #about:first-child, #about-1, #divider, #divider-1, #divider-2, #location, #schedule {
        background-color: transparent;
    }

    #feature {
        background: $site-background;
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;

        background-image: url('https://static1.squarespace.com/static/58bd80c537c581c8b912d6c8/t/5a302327e4966b2062fb28eb/1513104179493/green_small.png');
    }

    @media (min-width: 1200px) {
        #feature {
            background-image: url('https://static1.squarespace.com/static/58bd80c537c581c8b912d6c8/t/5a30470541920224bf82089f/1513113370923/green_medium.png');
        }
    }

    @media (min-width: 1600px) {
        #feature {
            background-image: url('https://static1.squarespace.com/static/58bd80c537c581c8b912d6c8/t/5a3022f724a694fe6ea710c0/1513104166805/green_large.png');
        }
    }
}

.Index-page--has-image, .Parallax-host-outer, .Site-inner--index, .sqs-surrounding-overlay, .tweak-overlay-parallax-enabled {
    background-color: transparent;

    .Index-page-content {
        padding-top: 68px;
    }
}

.tweak-overlay-parallax-enabled .Parallax-host, .tweak-overlay-parallax-enabled .Parallax-item {
    background-color: transparent;

    figure {
        background-color: transparent;

        img {
            background-color: transparent;
        }
    }
}

header.Header {
    background-color: transparent;

    .Header-inner {
        &.Header-inner--bottom {
            padding-top: 0px;

            div[data-nc-container] {
                align-self: end;

                .Header-branding {
                    padding: 2px;
                }
            }
        }

        .Header-branding, .Header-nav .Header-nav-item {
            a * {
                box-shadow: 2px 2px rgba(15, 15, 15, 0.5);
            }
        }
    }

    .Header-inner {
        background-color: transparent;
        color: rgba(15, 15, 15, 0.75);
    }

    .Header-tagline {
        background-color: transparent;
        color: rgba(15, 15, 15, 0.75);
    }
}

footer {
    .Footer,
    .Footer-inner {
        background-color: transparent;
        color: rgba(15, 15, 15, 0.5);
    }
}

main section.Main-content,
div.Site-inner section {
    background-color: transparent;

    .sqs-block-quote {
        background-color: rgba(15, 15, 15, 0.25);
        background-clip: content-box;

        blockquote {
            padding: 1%;
            text-shadow: 2px 2px rgba(15, 15, 15, 0.5);
        }

        .source {
            text-shadow: 2px 2px rgba(15, 15, 15, 0.5);
        }
    }
}

//body.homepage * main section.Main-content div[data-type="page"] div:first-child div:first-child div:first-child div:first-child div:first-child {
//    background-image: url(https://static1.squarespace.com/static/58bd80c537c581c8b912d6c8/t/59ded745f14aa1aa2b426c53/1507776334329/labyrinth.jpg);
//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
//}
//body.homepage * main section.Main-content div[data-type="page"] div:first-child div:first-child div:first-child div:first-child div:first-child div {
//  	filter: blur(0em);
//    background-image: none;
//    background-color: transparent;
//  	height: 50%;
//  	margin: auto;
//}
//body.homepage * main section.Main-content div[data-type="page"] div:first-child div:first-child div:first-child div:first-child div:first-child div img#yui_3_17_2_2_1508188132718_508 {
//  	background-image: url(https://static1.squarespace.com/static/58bd80c537c581c8b912d6c8/t/59e525c01f318ddbb0f78190/1508189633251/logo_small.png);
//    background-size: contain;
//  	height: 50%;
//}
//
//body div.Parallax-host-outer div.Parallax-host div.Parallax-item figure {
//  	background-position: center;
//    background-repeat: no-repeat;
//    background-size: contain;
//  	background-image: none;
//  	width: 100%;
//}
//body div.Parallax-host-outer div.Parallax-host div.Parallax-item figure img {
//  	background-image: none;
//  	width: 100%;
//  	margin: 0;
//  	padding: 0;
//}
//
//main section#feature div,
//main section#feature div div:first-child,
//main section#feature div div:first-child div,
//main section#feature div div:first-child div div,
//main section#feature div div:first-child div div div div div div img {
//    background-color: green;
//  	background-color: transparent;
//  	background-image: none;
//  	width: 100%;
//  	margin: auto;
//  	padding: 0;
//}
