@import "assets";

body {
    // background: $site-background !important;

    // &.tweak-overlay-parallax-enabled.has-parallax-images:not(.tweak-site-width-option-constrained-width) {
    //     background: $site-background !important;
    // }

    #feature, #about:first-child, #about-1, #divider, #divider-1, #divider-2, #location, #schedule {
        background-color: transparent;
    }

    #feature, #new-home {
        //background: $site-background;
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% auto;

        background-image: $feature-background-small;


        & .Index-page-content.sqs-alternate-block-style-container {
            padding-bottom: 0px;

            div.sqs-layout.sqs-grid-12.columns-12[data-type="page"] {
                margin-top: 168px;

                * {
                    text-shadow: 2px 2px rgba(15, 15, 15, 0.5);
                }

            }
        }

        &.Index-page--has-image .Index-page-content {
            padding-top: 68px;

            .sqs-block-content h1 {
                color: hsl(54, 100%, 90%);
            }
        }
    }

    @media (min-width: 1440px) {
        #feature, #new-home {
            background-image: $feature-background-medium;
        }
    }

    @media (min-width: 2000px) {
        #feature, #new-home {
            background-image: $feature-background-large;
        }
    }
}

.Index-page--has-image, .Intro--has-image, .Parallax-host-outer, .Site-inner--index, .sqs-surrounding-overlay, .tweak-overlay-parallax-enabled {
    background-color: transparent;

    &.Intro {
        height: 160px;
    }

    .Index-page-content {
        padding-top: 68px;
    }
}

.tweak-overlay-parallax-enabled .Parallax-host, .tweak-overlay-parallax-enabled .Parallax-item {
    background-color: transparent;

    figure {
        background-color: transparent;

        img {
            background-color: transparent;
        }
    }
}

header.Header {
    background-color: transparent;

    .Header-inner {
        background-color: transparent;
        color: rgba(15, 15, 15, 0.75);

        &.Header-inner--bottom {
            margin-top: 24px;
            padding-top: 0px;

            div[data-nc-container] {
                align-self: unset;

                &[data-nc-container="bottom-right"] {
                    margin-top: -100px;
                }

                .Header-branding {
                    padding: 2px;
                }
            }
        }

        .Header-branding, .Header-nav-item {
            &, span {
                font-weight: normal;
            }
        }
    }

    .Header-tagline {
        background-color: transparent;
        color: rgba(15, 15, 15, 0.75);
    }
}


body.tweak-header-primary-nav-hover-style-plain .Header--overlay .Header-nav .Header-nav-item {
    &, span {
        font-weight: normal;
        text-shadow: 2px 2px rgba(15, 15, 15, 0.5);
    }
}


footer {
    .Footer,
    .Footer-inner {
        background-color: transparent;
        color: rgba(15, 15, 15, 0.5);
    }
}

main section.Main-content,
div.Site-inner section {
    background-color: transparent;

    .blog-list {
        .BlogList-item {
            .thumbnail-title-wrapper {
                .BlogList-item-image {
                    .BlogList-item-image-link {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .sqs-block-quote {
        background-color: rgba(15, 15, 15, 0.25);
        background-clip: content-box;
        padding: 0;

        figure {
            padding-top: 5%;

            blockquote {
                padding: 1%;
                text-shadow: 2px 2px rgba(15, 15, 15, 0.5);
            }

            .source {
                text-shadow: 2px 2px rgba(15, 15, 15, 0.5);
            }
        }
    }
}
